#display-name {
    margin-right: 20px;
}

.urgent {
    font-weight: bold;
    color: #e99696;
}

.cls {
    display: none;
}

.base-inactive {
    filter: blur(1px);
}

#new-date {
    justify-content: flex-start;
}

.date-input {
    border: none;
    background: none;
    color: white;
}

.date-input::-webkit-inner-spin-button,
.date-input::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}

.date-input:focus {
    outline: none;
}

.edit-sub {
    margin-right: 20px;
    border: 1px solid #6c757d;
    background: none;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #dee2e6;
    border-radius: 0.25rem;
}

.new-type-btn {
    border: none;
    transition: all 0.5s
}

.inactive {
    background: none;
    color: white;
}

.inactive:hover {
    background: rgba(255, 255, 255, 0.05);
}

.active {
    background: rgba(255, 255, 255, 0.1);
    color: blanchedalmond;
}

.active:hover {
    background: rgba(255, 255, 255, 0.1);
}

#new-type-select {
    display: flex;
    justify-content: space-around;
}

.textarea-holder {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#new-title {
    font-size: 20px;
}

.new-input-full {
    width: 100%;
    background: none;
    border: none;
    color: white;
    height: 30px;
    font-size: 20px;
    padding-bottom: 0;
    overflow: hidden;
    resize: none;
    font-size: 0.9rem;
}

.new-input-full:focus {
    outline-width: 0;
}

.content {
    display: flex;
    justify-content: space-between;
}

#edit {
    background: url(/static/assets/edit_icon.png) no-repeat;
}

#delete {
    background: url(/static/assets/delete_icon.png) no-repeat;
}

.item-btn {
    align-self: center;
    width: 30px;
    height: 30px;
    border: none;
}

.item {
    border: 1px solid;
    padding: 10px;
    width: 25rem;
    overflow-wrap: break-word;
}

/* mobile */
@media (max-width: 768px) {
    .item {
        flex-shrink: 1;
        flex-grow: 1;
        padding-right: 20px;
        width: auto;
    }
}

.top {
    justify-content: space-between;
}

.display-container {
    display: flex;
}

.Add {
    width: 3.5rem;
    height: 3.5rem;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    cursor: pointer;
}