{% extends 'base.html' %}

{% block content %}
    {% if items %}
        {% for item in items %}
            <h3>{{ item['a_name'] }}</h3>
            <div style="display: flex;">
                <h5 style="
                    color: {{ item['color']}};
                ">{{ item['title'] }} </h5>  
                <h5>&nbsp;|&nbsp;</h5>
                <h5> {{ item['item_type'] }}</h5>
            </div>
            <span>{{ item['time_remaining'] }}</span>
            <hr>
        {% endfor %}
    {% endif %}
    
    <!--  
    {% if tests %}
        {% for test in tests %}
            <a href="{{ url_for('test', test_id=test['id']) }}">
                <h2>{{ test['title'] }}</h2>
            </a>
            <span>{{ test['time_remaining'] }}</span>
            <hr>
        {% endfor %}
    {% endif %}
    -->
{% endblock %}